.panel-heading .panel-title a{
    color: #0d7fac;
}

.panel .panel-body{
    color: #0c1312;
    font-family: "Microsoft YaHei", serif;
}

*{
    font-family: "Microsoft YaHei", serif;
}

.panel h2{
    margin-bottom: 30px
}

.form-group-lg{
    margin: 30px 15px;
}

.panel-heading .image-row{
    padding: 30px 15px;
    display: flex;
    flex-wrap: wrap;
}

.image-row div{
    margin-left: 10px;
    margin-bottom: 10px;
}

.panel-heading .add-img-btn {
    display: block;
    border: 1px solid #d6d6d6;
    height: 200px;
    padding: 60px;
    width: 200px;
    text-align: center;
    cursor: pointer;
}

.image-item img{
    height: 100%;
}

.image-item{
    height: 200px;
    border: 1px solid #d6d6d6;
    box-sizing: border-box;
    padding: 0;
}






