<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
     <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>com.lames.merchant.filter.EncodingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>    
	<filter>
        <filter-name>DispatcherFilter</filter-name>
        <filter-class>com.jake.webmvc.core.DispatcherFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>DispatcherFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>         
<!-- 	<servlet> -->
<!-- 		<description> -->
<!-- 		</description> -->
<!-- 		<display-name>AddRecipeServlet</display-name> -->
<!-- 		<servlet-name>AddRecipeServlet</servlet-name> -->
<!-- 		<servlet-class>com.lames.merchant.servlet.AddRecipeServlet</servlet-class> -->
<!-- 	</servlet>          -->
<!-- 	<servlet> -->
<!-- 		<description> -->
<!-- 		</description> -->
<!-- 		<display-name>GetRecipeServlet</display-name> -->
<!-- 		<servlet-name>GetRecipeServlet</servlet-name> -->
<!-- 		<servlet-class>com.lames.merchant.servlet.GetRecipeServlet</servlet-class> -->
<!-- 	</servlet> -->
<!-- 	<servlet> -->
<!-- 		<description> -->
<!-- 		</description> -->
<!-- 		<display-name>DeleteRecipeServlet</display-name> -->
<!-- 		<servlet-name>DeleteRecipeServlet</servlet-name> -->
<!-- 		<servlet-class>com.lames.merchant.servlet.DeleteRecipeServlet</servlet-class> -->
<!-- 	</servlet> -->
<!-- 	<servlet> -->
<!-- 		<description> -->
<!-- 		</description> -->
<!-- 		<display-name>ModifyRecipeServlet</display-name> -->
<!-- 		<servlet-name>ModifyRecipeServlet</servlet-name> -->
<!-- 		<servlet-class>com.lames.merchant.servlet.ModifyRecipeServlet</servlet-class> -->
<!-- 	</servlet> -->
<!-- 	<servlet> -->
<!-- 		<description> -->
<!-- 		</description> -->
<!-- 		<display-name>SubmitModifyRecipeServlet</display-name> -->
<!-- 		<servlet-name>SubmitModifyRecipeServlet</servlet-name> -->
<!-- 		<servlet-class>com.lames.merchant.servlet.SubmitModifyRecipeServlet</servlet-class> -->
<!-- 	</servlet> -->
<!-- 	<servlet-mapping> -->
<!-- 		<servlet-name>AddRecipeServlet</servlet-name> -->
<!-- 		<url-pattern>/addRecipe.do</url-pattern> -->
<!-- 	</servlet-mapping>	 -->
<!-- 	<servlet-mapping> -->
<!-- 		<servlet-name>GetRecipeServlet</servlet-name> -->
<!-- 		<url-pattern>/getRecipe.do</url-pattern> -->
<!-- 	</servlet-mapping> -->
<!-- 	<servlet-mapping> -->
<!-- 		<servlet-name>DeleteRecipeServlet</servlet-name> -->
<!-- 		<url-pattern>/deleteRecipe.do</url-pattern> -->
<!-- 	</servlet-mapping> -->
<!-- 	<servlet-mapping> -->
<!-- 		<servlet-name>ModifyRecipeServlet</servlet-name> -->
<!-- 		<url-pattern>/modifyRecipe.do</url-pattern> -->
<!-- 	</servlet-mapping> -->
<!-- 	<servlet-mapping> -->
<!-- 		<servlet-name>SubmitModifyRecipeServlet</servlet-name> -->
<!-- 		<url-pattern>/submitModifyRecipe.do</url-pattern> -->
<!-- 	</servlet-mapping> -->

	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/WEB-INF/jsp/500.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/WEB-INF/jsp/500.jsp</location>
	</error-page>
</web-app>